html {
    width: 1600px;
}
.welcome-bar {
    background-color: black;
    position: absolute;
    width: 1600px;
    height: 80px;
    top: 0px;
    bottom: 0px;;
}

.menu {
    display: flex;
}

#about {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 365px;
    top: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#panda {
    position: absolute;
    height: 780px;
    left: 0px;
    right: 0px;
    top: 0px;
}